.activities-container {
    display: flex;
    gap: 1rem;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    color: #000;
}

.activity-card {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 1rem;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;

    h3 {
        margin-top: 0;
    }

    ul {
        list-style-type: none;
        padding-left: 0;

        li {
            margin-bottom: 0.5rem;
        }
    }

    button {
        background-color: aquamarine;
        color: blue;
        padding: 0.5rem 1rem;
        border: none;
        cursor: pointer;
    }

    &:hover {
        background-color: rgb(41, 133, 102);
    }
}